
.nav {
    grid-area: n;
    background-color: limegreen;
    padding: 20px;
  }

  .item a {
      color: white;
      text-decoration: none;
  }

.item a.active {
      color: gold;
  }
  .nav {
    display: grid;
    grid-template-rows: 10fr 5fr;
  }

  .friendsBlock {
    text-align: center;
  }
